.App {
  text-align: center;
}

.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-list-items {
  margin: 0 10%;
}

.books-container {
  background: rgba(0, 0, 0, 0.05);
  padding: 3% 0;
}
